{% extends 'flatpages/default.html' %}

{% load my_filters %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block title %}
<h1>Новости и статьи</h1>
{% endblock title %}

{% block content %}
    {% if request.path == '/news/search/' %}
        <form action="" method="get" style="display: flex; flex-direction: column; align-items: center;">
            {{ filterset.form.as_p }}
            <input type="submit" value="Поиск">
        </form>
    {% endif %}
<hr>
    {% if posts %}
        <h4>{{ page_obj.paginator.count }} публикаций</h4>
        <hr>
        <table>
            <tr style="background-color: grey; color: white;">
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.dateCreation|date:'d.m.Y' }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>

        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            ...
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}
        {{ page_obj.number }}
        {% if page_obj.has_next %}
            ...
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}"></a>
            {% endif %}
        {% endif %}

    {% else %}
        <h4>Публикаций нет</h4>
    {% endif %}

{% endblock content %}
</body>
</html>